* {
    margin: 0;
    padding: 0;
}

.Upper {
    height: 200px;
    background-image: url("image/145064.jpg");
}

.Upper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Upper ul li {
    float: left;
}

.Upper ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.Upper ul li a:hover {
    background-color: rgb(111, 202, 50);
}

.Upper h5 {
    margin-top: 70px;
    margin-left: 100px;
    /* text-align: center; */
    font-size: 40px;
    font-family: Lobster;
    color: black;
}

.wrapper {
    margin: 40px 250px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [col] 25% [col] 25% [col] 25% [col] 25%;
    grid-template-rows: [row] auto [row] auto [row];
    background-color: #fff;
    color: #444;
}

.box {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.a {
    grid-column: col / span;
    grid-row: row;
}

.a img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.b {
    grid-column: col 2/ span 3;
    grid-row: row;
    padding-top: 50px;
}

.b p {
    padding-top: 30px;
}

.c {
    grid-column: col / span 4;
    grid-row: row 2;
}

.d {
    grid-column: col / span 2;
    grid-row: row 3;
}

.e {
    grid-column: col 3/ span 2;
    grid-row: row 3;
}


/* skill bar */

.container {
    width: 100%;
    background-color: #ddd;
}

h5 {
    padding-bottom: 30px;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.html {
    width: 90%;
    background-color: #4CAF50;
}

.css {
    width: 80%;
    background-color: #2196F3;
}

.js {
    width: 65%;
    background-color: #f44336;
}

.php {
    width: 60%;
    background-color: #808080;
}


/* right skill bar */

.container1 {
    width: 100%;
    background-color: #ddd;
}

h5 {
    padding-bottom: 30px;
}

.skills1 {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.html1 {
    width: 90%;
    background-color: #4CAF50;
}

.css1 {
    width: 80%;
    background-color: #2196F3;
}

.js1 {
    width: 85%;
    background-color: #f44336;
}

.php1 {
    width: 60%;
    background-color: #808080;
}


/* footer */

.footer {
    height: 100px;
    background-color: #5D6479;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}